<h1>Hey! Welcome to my github!</h1>

<p>I'm Eric, Frontend developer from <b>China</b>, currently living in <b>Shanghai, China</b>. </p>
<h3>Things I code with</h3>
<p>
  <img alt="React" src="https://img.shields.io/badge/-React-45b8d8?style=flat-square&logo=react&logoColor=white" />
  <img alt="Vue" src="https://img.shields.io/badge/-Vue-DD0031?style=flat-square&logo=vue&logoColor=white" />
  <img alt="TypeScript" src="https://img.shields.io/badge/-TypeScript-007ACC?style=flat-square&logo=typescript&logoColor=white" />
  <img alt="Sass" src="https://img.shields.io/badge/-Sass-CC6699?style=flat-square&logo=sass&logoColor=white" />
  <img alt="TailwindCSS" src="https://img.shields.io/badge/-TailwindCSS-CC6699?style=flat-square&logo=tailwindcss&logoColor=white" />
  <img alt="Webpack5" src="https://img.shields.io/badge/-Webpack5-8DD6F9?style=flat-square&logo=webpack5&logoColor=white" />
  <img alt="Vite" src="https://img.shields.io/badge/-Vite-EC4A3F?style=flat-square&logo=vite&logoColor=white" />
  <img alt="Docker" src="https://img.shields.io/badge/-Docker-46a2f1?style=flat-square&logo=docker&logoColor=white" />
  <img alt="Git" src="https://img.shields.io/badge/-Git-F05032?style=flat-square&logo=git&logoColor=white" />
  <img alt="ESLint" src="https://img.shields.io/badge/-ESLint-F9A03C?style=flat-square&logo=eslint&logoColor=white" />
  <img alt="Prettier" src="https://img.shields.io/badge/-Prettier-F7B93E?style=flat-square&logo=prettier&logoColor=white" />
  <img alt="postgresql" src="https://img.shields.io/badge/-PostgreSQL-13aa52?style=flat-square&logo=postgresql&logoColor=white" />
  <img alt="Nodejs" src="https://img.shields.io/badge/-Nodejs-43853d?style=flat-square&logo=Node.js&logoColor=white" />
</p>

<h3>My latest posts</h3>
<ul>
  <li>
    <a href="https://medium.com/@knight174/docker-what-frontend-engineers-should-know-1dabab623e41" target="_blank">
      <b>Docker: What Frontend Engineers Should Know</b>
    </a>
  </li>
  <li>
    <a href="https://juejin.cn/post/7250029395023544376" target="_blank">
      <b>前端工程师也应该了解的docker</b>
    </a>
  </li>
  <li>
    <a href="https://juejin.cn/post/7243342597001855033" target="_blank">
      <b>Ruby on Rails 快速入门</b>
    </a>
  </li>
  <li>
    <a href="https://juejin.cn/post/7238604003600138296" target="_blank">
      <b>浅谈 ChatGPT —— 现代巴别塔</b>
    </a>
  </li>
</ul>

<p>
  Currently, the weather is: <b>{{city_temperature}}°C, feels like {{feelsLike}}°C, <i>{{city_weather}}</i></b>
</p>

<h3>Where to find me</h3>
<p>
<a href="https://github.com/Knight174" target="_blank">
  <img alt="Github" src="https://img.shields.io/badge/GitHub-%2312100E.svg?&style=for-the-badge&logo=Github&logoColor=white" />
</a>
<a href="https://juejin.cn/user/2154698521972423" target="_blank">
  <img alt="juejin" src="https://img.shields.io/badge/掘金-%230077B5.svg?&style=for-the-badge&logoColor=white" />
</a>
<a href="https://ericchenart.com" target="_blank">
  <img alt="ericchenart.com" src="https://img.shields.io/badge/ericchenart.com-%2312100E.svg?&style=for-the-badge&logoColor=white" />
</a>
</p>

------------

<p align="center">
This <i>README</i> file is generated <b>every 3 hours</b>!</br>Last refresh: {{refresh_date}}
</p>


<!-- <p align="center">
  <img
    src="https://github.com/thmsgbrt/thmsgbrt/workflows/README%20build/badge.svg"
  />
  <img
    alt="Stars"
    src="https://img.shields.io/github/stars/thmsgbrt/thmsgbrt?style=flat-square&labelColor=343b41"
  />
  <img
    alt="Forks"
    src="https://img.shields.io/github/forks/thmsgbrt/thmsgbrt?style=flat-square&labelColor=343b41"
  />
</p> -->